<h1 class="mb-4">Detalhes do Item de Mercado</h1>

<p class="mb-2"><strong>Nome:</strong> <%= @market_item.name %></p>
<p class="mb-4"><strong>Quantidade:</strong> <%= @market_item.quantidade %></p>

<%= link_to 'Voltar para a Lista de Mercado', market_list_path(@market_list), class: 'btn btn-primary' %>
